<h2>Listado de Productos:</h2>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Código</th>
            <th scope="col">Precio</th>
            <th scope="col">Stock</th>
            </tr>
        </thead>
        <tbody>
            {{#if listExists}}
                {{#each listProd}}
                    <tr>
                        <td>{{this.id}}</td>
                        <td><strong>{{this.nombre}}</strong></td>
                        <td>{{this.codigo}}</td>
                        <td>{{this.precio}}</td>
                        <td>{{this.stock}}</td>
                    </tr>
                {{/each}}
            {{else}}
                <p style="color:red">No se encontraron productos!</p>
            {{/if}}
        </tbody>
    </table>
</div>
