<h2>Listado de Productos:</h2>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Precio</th>
            <th scope="col">Imagen</th>
            </tr>
        </thead>
        <tbody>
            {{#if listExists}}
                {{#each listProd}}
                    <tr>
                        <td><strong>{{this.title}}</strong></td>
                        <td>{{this.price}}</td>
                        <td><img src="{{this.thumbnail}}" alt="{{this.title}}" title="{{this.title}}" height="100" width="100"/></td>
                    </tr>
                {{/each}}
            {{else}}
                <p style="color:red">No se encontraron productos!</p>
            {{/if}}
        </tbody>
    </table>
</div>
